PORT=4000
CLIENT_ORIGIN=https://aural-jet.vercel.app

OPENWEATHER_API_KEY=
VITE_SUPABASE_URL="https://zuvjbfngyfatobpnufow.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_dqdzzaZvojR8lx9T7YRWbg_d4b9m19k"

DATABASE_URL="postgresql://postgres.your-project-ref:your-password@aws-0-your-region.pooler.supabase.com:6543/postgres"
